@import url("https://rsms.me/inter/inter.css");

*,
html,
body {
  font-family: "Raleway";
  scroll-behavior: smooth;

}

#nprogress .bar {
  padding-top: 1px;
  padding-bottom: 1px;
  background: #0AC9D0 !important;
  border: 1px solid #0AC9D0
  }


@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts here */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway Regular'), url(/fonts/Raleway-Regular.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(/fonts/Raleway-Regular.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), url(/fonts/Raleway-Thin.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), url(/fonts/Raleway-ExtraLight.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), url(/fonts/Raleway-Light.woff) format('woff');
  }

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), url(/fonts/Raleway-Medium.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), url(/fonts/Raleway-SemiBold.woff) format('woff');
  }
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), url(/fonts/Raleway-Bold.woff) format('woff');
  }
  
  

  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), url(/fonts/Raleway-ExtraBold.woff) format('woff');
  }
  


  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), url(/fonts/Raleway-Black.woff) format('woff');
  }
